body { 
    font-family: Arial; 
    text-align: center; 
    margin-top: 50px; 
  }
  .form-container { 
    display: none; 
  }
  input { 
    margin: 5px; 
    padding: 8px; 
    width: 200px; 
  }
  button { 
    padding: 8px 15px; 
    margin: 5px; 
    cursor: pointer; 
  }
  #loginBtn {
    background-color: blue;
    color: white;       
    border: none;
    border-radius: 5px;
    width: 200px;
  }
  #forgotLink {
    color: blue;
    text-decoration: none;
    font-size: 14px;
  }
  #SignupBtn{
    background-color: green;
    color: white;       
    border: none;
    border-radius: 5px;
    width: 150px;

  }
  #message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  .container { 
    background-color: #f8f8f8; 
    padding: 50px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .error-heading {
    color: #cc0000;
    margin-bottom: 10px;
  }
  .error-message {
    color: #333;
    font-size: 16px;
  }
  .suggestion {
    font-style: italic;
    color: #555;
  }
  .back-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .back-btn:hover {
    background-color: #0056b3;
  }
  .error-container {
    background-color:burlywood
  }
  #back-btn{
   background-color: #007BFF; 
   color: white;       
    border: none;
    border-radius: 5px;
    width: 150px;
  }
  
  
  #SubBtn{
    background-color: green;
    color: white;       
    border: none;
    border-radius: 5px;
    width: 200px;
  }
  body.contact-page {
    background-color: green;
  }
  
  .container-contact {
    background-color: white;
     
    padding: 50px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  

  

  
  
  
  
  .show { 
    display: block; 
  }
  