<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="../ASSET/CSS/logsignrest.css" />
  <script src="/ASSET/JS/logsignrest.js" defer></script>
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form id="loginForm"  novalidate>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" placeholder="Enter your email" required />
        <small id="emailError" class="error-message"></small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input type="password" id="loginPassword" placeholder="Enter your password" required />
          <small id="loginToggleEye" class="toggle-eye hide">👁️</small>
        </div>
        <small id="passwordError" class="error-message"></small>
      </div>

      <button type="submit">Login</button>
      <a href="landpage.html" class="back-btn">Back</a>
      <div class="extra-links">
        <p><a href="resetpass.html">Forgot password?</a></p>
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
      </div>
    </form>
  </div>
</body>
</html>
